{% extends 'app/base.html' %}
{% load static %}
{% block title %}
<title>Gorund Zero | Checkout</title>
{% endblock %}

{% block contenido %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <!-- formulario de envio  -->
      <h4 class="mb-3">Dirección de envio</h4>


      <form class="needs-validation" novalidate id="form_carrito">


        <div class="row g-3">


          <div class="col-sm-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="" name="nombre">
          </div>

          <div class="col-sm-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="" name="apellido">
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Mail</label>
            <input type="email" class="form-control" id="email" placeholder="abc@mail.com" name="correo">
          </div>

          <div class="col-12">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion" placeholder="Moneda 1234">
            <br>
            <div class="map" id="map"></div>
          </div>

          <div class="col-md-5">
            <label for="regiones" class="form-label">Region</label>
            <select class="form-select" id="regiones" required>
              <option value="">Seleccione una region</option>
              <option value=""> - </option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="comunas" class="form-label">Comuna</label>
            <select class="form-select" id="comunas" required>
              <option value=""> - </option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="cod_postal" class="form-label">Codigo postal</label>
            <input type="text" class="form-control" id="zip" placeholder="" name="postal">
            <div class="invalid-feedback">
              Codigo postal.
            </div>
          </div>
        </div>

        <hr class="my-4">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="boletin">
          <label class="form-check-label" for="boletin">Suscribirme al boletin de noticias.</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="guardar_info">
          <label class="form-check-label" for="guradar_info">Guardar esta informacion para la proxima vez.</label>
        </div>

      </form>

      <hr class="my-4">

      <h4 class="mb-3">Tipo de pago</h4>

      <div class="my-3">
        <div class="form-check">
          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="credit">Tarjeta de credito</label>
        </div>
        <div class="form-check">
          <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="debit">Tarjeta de debito</label>
        </div>
        <div class="form-check">
          <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required disabled>
          <label class="form-check-label" for="paypal">Mercado Pago</label>
        </div>
      </div>

      <!-- TARJETA CREDITO-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="credit_panel">
              <form action="" id="credit_form">
                <div class="col-12">
                  <label for="cc-name" class="form-label">Nombre en tarjeta</label>
                  <input type="text" class="form-control" id="cc-name" name="ccNombre">
                  <small class="text-body-secondary">Nombre completo como se muestra en la tarjeta</small>
                </div>
                <div class="col-12">
                  <label for="cc-number" class="form-label">Numero de tarjeta de credito</label>
                  <input type="text" class="form-control" id="cc-number" name="ccNumber">
                </div>
                <div class="col-12">
                  <label for="cc-expiracion" class="form-label">Fecha vencimiento</label>
                  <input type="date" class="form-control" id="cc-expiracion" name="ccFecha">
                </div>
                <div class="col-12">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" name="cvv">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!-- TARJETA DEBITO-->
      <div id="debit_panel">
        <div class="row gy-3">
          <div class="col-md-5">
            <label for="bancos" class="form-label">Banco</label>
            <select class="form-select" id="bancos" required>
              <option value="">Seleccione un banco/option>
              <option value=""> - </option>
              <option value="Banco Santander"></option>
              <option value="Banco Estado"></option>
              <option value="Banco de Chile / Citi-Edwards"></option>
              <option value="Banco de credito e inversiones"></option>
              <option value="Scotiabank"></option>
              <option value="Banco falabella"></option>
            </select>
            <div class="invalid-feedback">
              Porfavor seleccione una region valida.
            </div>
          </div>
          <div class="col-md-6">
            <label for="cc-number" class="form-label">Numero de tarjeta de debito</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Se requiere un numero de tarjeta.
            </div>
          </div>
          <div class="col-md-3">
            <label for="cc-expiracion" class="form-label">Fecha vencimiento</label>
            <input type="text" class="form-control" id="cc-expiracion" placeholder="" required>
            <div class="invalid-feedback">
              Porfavor ingrese una fecha de expiracion.
            </div>
          </div>
        </div>
        <a href="javascript:void(0);" onclick="ocultar_credito">Cerrar</a>
      </div>
      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar</button>
      </form>
    </div>

    <!--CARRO-->
    <div class="col-12 col-md-5">
      {% include 'app/carrito.html' %}
    </div>

  </div>
</div>
<br><br><br>
{% endblock %}

{% block js %}

<!-- API google maps -->
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeo0p7f-l-NB0xY_nq3b1yT92j0BoBme8&libraries=places&callback=initMap"></script>
</script>

<!-- configuracion de la APi -->
<script>
  const input = document.getElementById('direccion');

  let map;
  let marker;
  let autocomplete;

  function initAutoComplete() {
    autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener('place_changed', function () {
      const place = autocomplete.getPlace();
      map.setCenter(place.geometry.location);
      marker.setPosition(place.geometry.location);
    })
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -33.4332521, lng: -70.6156447 },
      zoom: 17,
    });
    marker = new google.maps.Marker({
      position: { lat: -33.4332521, lng: -70.6156447 },
      map: map,
    });
    initAutoComplete();
  }
</script>


<!-- Librería jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Librería jQuery Validate -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<!-- metodos de validacion adicionales -->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<!-- Traducciones de las validaciones -->
<script src="{% static 'app/js/traducciones.js' %}"></script>
<!-- Validación tarjeta -->
<script src="{% static 'app/js/despliegue.js' %}"></script>
<!-- Ubicación -->
<script src="{% static 'app/js/ubicacion.js' %}"></script>
<!-- Validación checkout -->
<script src="{% static 'app/js/formulario_checkout.js' %}"></script>

{% endblock %}
</body>

</html>